@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;600;700;800;900&family=Quicksand:wght@300;400;500;600;700&display=swap");

:root {
  --Playfair: "Playfair Display", serif;
  --Quicksand: "Quicksand", sans-serif;
  --Roboto: "Roboto", sans-serif;
  --dark: #3c393d;
  --exDark: #2b2b2b;
}
* {
  padding: 0;
  margin: 0;
  font-family: var(--Quicksand);
}

body {
  line-height: 1.4;
  color: var(--dark);
}

img {
  width: 100%;
  display: block;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 auto;
}

header {
  position: fixed;
  width: 100%;
  z-index: 100;
}

.navbar {
  background: rgba(0, 0, 0, 0.6);
  padding: 1.2rem;
}

.navbar-brand span {
  color: #fff;
  font-size: 2rem;
  text-align: center;
  text-decoration: none;
  font-family: var(--Playfair);
  letter-spacing: 1px;
}

.navbar-nav {
  padding: 0.8rem 0 0.2rem 0;
  text-align: center;
}

.navbar-nav .nav-link {
  text-transform: uppercase;
  font-family: var(--Roboto);
  letter-spacing: 1px;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
  display: inline;
  padding: 20px;
  margin-left: 40px;
  letter-spacing: 3px;
  transition: opacity 0.5s ease;
}

.navbar-nav a:hover {
  opacity: 0.6;
}

.banner {
  flex: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(https://images.unsplash.com/photo-1488998427799-e3362cec87c3?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8Ym9vayUyMGFuZCUyMGxhcHRvcCUyMGJhY2tncm91bmR8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60)
      center/cover no-repeat fixed;
}

.banner-title {
  font-size: 3.5rem;
  font-family: var(--Playfair);
  margin-top: 120px;
  line-height: 1.2;
}
.banner-title span {
  font-family: var(--Playfair);
  color: var(--exDark);
}
.banner p {
  padding: 1rem 0 2rem 0;
  font-size: 1.4rem;
  text-transform: capitalize;
  font-family: var(--Roboto);
  font-weight: 300;
  word-spacing: 2px;
}

.weather-card {
  position: absolute;
  top: 95px;
  left: 5%;
  margin: 30px auto;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  padding: 15px 35px;
}

.weather-div {
  position: relative;
}
.refresh-icon {
  position: absolute;
  bottom: 0px;
  right: -20px;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.8 ease;
}

.refresh-icon:hover {
  transform: scale(1.05);
}

.weather-card .date {
  color: #fff;
  font-size: 13px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 5px;
}

.weather-box .temp {
  border-radius: 16px;
  padding: 15px 25px;
  color: #fff;
  font-size: 25px;
  font-weight: 900;
  text-align: center;
}

.weather-box .temp span {
  margin-right: 10px;
}

.no-content {
  text-align: center;
}

.no-content h3 {
  font-family: var(--Playfair);
  font-size: 1.65rem;
  font-weight: 500;
  margin-bottom: 10px;
}

.no-content a {
  margin: 1.2rem;
}

.blog {
  background: #f9f9f9;
  padding: 4.5rem 0;
}
.blog-content {
  margin: 2rem 0;
}
.blog-img {
  position: relative;
}
.blog-img a img {
  cursor: pointer;
  transition: transform 0.8s ease;
}

.blog-img a img:hover {
  transform: scale(1.01);
}

.blog-img span {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background: var(--exDark);
  color: #fff;
  font-size: 1.4rem;
  padding: 0.3rem 0.6rem;
}
.blog-text {
  margin: 2.2rem 0;
  padding: 0 1rem;
}
.blog-text span {
  font-weight: 300;
  padding-bottom: 0.5rem;
}

.blog-text .author-name span {
  margin-left: 10px;
  font-weight: bold;
}

.blog-text h2 {
  font-family: var(--Playfair);
  padding: 3rem 0 0.8rem 0;
  font-size: 1.65rem;
  font-weight: 500;
  color: black;
}

.blog-text a:hover {
  text-decoration: none;
  cursor: pointer;
}
.blog-text p {
  font-weight: 300;
  font-size: 1.1rem;
  opacity: 0.9;
  padding-bottom: 1.2rem;
}

.blog-text p.letters {
  word-wrap: break-word;
}

.content-div {
  max-height: 180px;
  overflow: hidden;
  margin-bottom: 20px;
}

.content-readmore-div {
  margin-bottom: 50px;
}

.content-readmore-div a {
  padding-top: 20px;
  cursor: pointer;
  text-decoration: none;
  transition: font-weight 0.2s ease;
}

.content-readmore-div a:hover {
  text-decoration: none;
  font-weight: bold;
}

.main-content {
  white-space: pre-line;
}
.buttons {
  font-family: var(--Roboto);
  font-size: 1.1rem;
  text-decoration: none;
  color: var(--dark);
  display: inline-block;
  background: var(--dark);
  color: #fff;
  padding: 0.55rem 1.2rem;
  transition: all 0.5s ease;
  cursor: pointer;
  border-radius: 5px;
}
.buttons:hover {
  background: var(--exDark);
  text-decoration: none;
  color: white;
}

#testcontent {
  white-space: pre-line;
}
.each-blog {
  padding-top: 150px;
}

.more-blogs {
  margin-top: 50px;
}

.more-blogs h3 {
  font-family: var(--Playfair);
}

.form-container {
  width: 100%;
  position: relative;
  height: 100vh;
  display: grid;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(https://images.unsplash.com/photo-1488998427799-e3362cec87c3?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8Ym9vayUyMGFuZCUyMGxhcHRvcCUyMGJhY2tncm91bmR8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60)
      center/cover no-repeat fixed;
}

.form-content {
  position: relative;
}

.form {
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 150px;
}

.form h1 {
  text-align: center;
}
.form-inputs {
  margin-bottom: 0.5rem;
  width: 80%;
}

.form-content p {
  font-size: 0.8rem;
  margin-top: 0.5rem;
  color: #f00e0e;
}

.form-label {
  display: inline-block;
  font-family: var(--Playfair);
  font-size: 1rem;
  margin-bottom: 6px;
  margin-top: 5px;
  color: #fff;
}

.form-input {
  display: block;
  padding-left: 10px;
  outline: none;
  border-radius: 10px;
  height: 40px;
  width: 100%;
  border: none;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
}

.form-input::placeholder {
  color: #595959;
  font-size: 12px;
}

.blog-textarea {
  height: 150px;
}

.blog-textarea::placeholder {
  padding-top: 10px;
  color: #595959;
  font-size: 12px;
}

.submit-btn {
  margin: 20px;
}

/* Media Queries */
@media screen and (min-width: 540px) {
  .navbar-nav a {
    padding-right: 1.2rem;
    padding-left: 1.2rem;
  }
  .navbar-brand span {
    font-size: 1.8rem;
  }
  .navbar-nav .nav-link {
    padding-top: 10px;
    margin-left: 15px;
    font-size: 15px;
  }
  .banner-title {
    font-size: 5rem;
  }
  .banner form {
    margin-top: 1.4rem;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .navbar .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .blog-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}

@media screen and (min-width: 992px) {
  .blog-content {
    grid-template-columns: repeat(3, 1fr);
  }
}
